.containerEmpresa{
    display: grid;
    grid-template-areas:
    "headerEmpresa headerEmpresa"
    "articleEmpresa articleEmpresa"
    "footerEmpresa footerEmpresa";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.headerEmpresa{
    grid-area: headerEmpresa;
}
.articleEmpresa{
    grid-area: articleEmpresa;
}
.footerEmpresa{
    grid-area: footerEmpresa;
}


