<!DOCTYPE html>
<html lang="es">
<!-- Inicio Head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="constructora construccion empresa constructora construir empresa construcciones barrio privado obras galeria modelos">
    <meta name="robots" content="obras">
    <meta name="author" content="Franco Stefancik">
    <meta name="description" content="Print Team es una empresa constructora con mas de 5 años de trayectoria. En esta seccion usted podra mirar una serie de fotos y visualizar parte de nuestros trabajos.">
    <title>Obras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;500;600;700;800&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<!-- Fin Head -->
<!-- Inicio Body -->
<body">
    <!-- Inicio Header -->
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navBackground">
            <a class="navbar-brand nav__logo" href="../index.html">PRINT TEAM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav__sections" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link barraInicio__secciones inicio" href="../index.html"><i class="fas fa-home"></i>Inicio <span class="sr-only">(current)</span></a>
                <a class="nav-link barraInicio__secciones active" href="obras.html"><i class="fas fa-hammer"></i>Obras</a>
                <a class="nav-link barraInicio__secciones" href="servicios.html"><i class="fas fa-newspaper"></i>Servicios</a>
                <a class="nav-link barraInicio__secciones" href="empresa.html"><i class="fas fa-building"></i>Empresa</a>
                <a class="nav-link barraInicio__secciones" href="contacto.html"><i class="fas fa-address-book"></i>Contacto</a>
              </div>
            </div>
          </nav>
    <!-- Fin Nav -->
    </header>
    <!-- Cierre Header -->
    <!-- Inicio Article -->
<div>
    <h1> Galeria </h1>
</div>
<div class="gallery-container">
    <div class="gallery__item">
        <img src="../assets/img/ciudad.jpg" alt="construccion antigua" class="gallery__img">
        <h2 class="gallery__title">Imagen 1</h2>
    </div>
    <div class="gallery__item">
        <img src="../assets/img/obraConstruccion.jpg" alt="construccion en progreso" class="gallery__img">
        <h2 class="gallery__title">Imagen 2</h2>
    </div>
    <div class="gallery__item">
        <img src="../assets/img/obraAtardecer.jpg" alt="construccion en progreso con atardecer" class="gallery__img">
        <h2 class="gallery__title">Imagen 3</h2>
    </div>
    <div class="gallery__item">
        <img src="../assets/img/ciudadAtardecer.jpg" alt="ciudad con atardecer" class="gallery__img">
        <h2 class="gallery__title">Imagen 4</h2>
    </div>
    <div class="gallery__item">
        <img src="../assets/img/rascacielos.jpg" alt="rascacielo" class="gallery__img">
        <h2 class="gallery__title">Imagen 5</h2>
    </div>
    <div class="gallery__item">
        <img src="../assets/img/galeria6.jpg" alt="edificio en blanco y negro" class="gallery__img">
        <h2 class="gallery__title">Imagen 6</h2>
    </div>
    <div class="gallery__item">
        <img src="../assets/img/paisajeFuturista.jpg" alt="ciudad futurista" class="gallery__img">
        <h2 class="gallery__title">Imagen 7</h2>
    </div>
    <div class="gallery__item">
        <img src="../assets/img/edificioVidriado.jpg" alt="edificio vidreado e iluminado" class="gallery__img">
        <h2 class="gallery__title">Imagen 8</h2>
    </div>
    <div class="gallery__item">
        <img src="../assets/img/estrcuturaAbstracta.jpg" alt="construcciones abstractas y crusero" class="gallery__img">
        <h2 class="gallery__title">Imagen 9</h2>
    </div>
</div>
    </article>
    <!-- Fin Article -->
    <!-- Inicio Footer -->
                <!-- Footer -->
                <footer class="bg-light text-center text-white footer">
                    <!-- Grid container -->
                    <div class="container p-4 pb-0">
                    <!-- Section: Social media -->
                    <section class="mb-4">
                        <!-- Facebook -->
                        <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #3b5998;"
                        href="#!"
                        role="button"
                        ><i class="fab fa-facebook-f"></i
                        ></a>
                
                        <!-- Twitter -->
                        <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #55acee;"
                        href="#!"
                        role="button"
                        ><i class="fab fa-twitter"></i
                        ></a>
                
                        <!-- Google -->
                        <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #dd4b39;"
                        href="#!"
                        role="button"
                        ><i class="fab fa-google"></i
                        ></a>
                
                        <!-- Instagram -->
                        <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #ac2bac;"
                        href="#!"
                        role="button"
                        ><i class="fab fa-instagram"></i
                        ></a>
                
                        <!-- Linkedin -->
                        <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #0082ca;"
                        href="#!"
                        role="button"
                        ><i class="fab fa-linkedin-in"></i
                        ></a>
                        <!-- Github -->
                        <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #333333;"
                        href="#!"
                        role="button"
                        ><i class="fab fa-github"></i
                        ></a>
                    </section>
                    <!-- Section: Social media -->
                    </div>
                    <!-- Grid container -->
                
                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2020 Copyright:
                    <a class="text-white" target="_blank" href="https://www.instagram.com/francostefancik/">Franco Stefancik</a>
                    </div>
                    <!-- Copyright -->
                </footer>
      <!-- Footer -->
        <!-- Fin Footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
<!-- Fin Body -->
</html>